<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Página web Cards - MindHub: Introduction to JavaScript Development</h1>
                <p>Página web desarrollada con HTML/CSS/JavaScript/Bootstrap como proyecto final del Bootcamp Front End de MindHub</p>
                <h1>Clúster de alta disponibilidad</h1>
                <p>Clúster de alta disponibilidad con dos nodos, realizado para el Aula Virtual de la Facultad de Ingeniería de la Universidad de Carabobo, en Venezuela.</p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
